/* Our CSS file. */
.container, .content {
    width: 100%;
    height: 100%;
    } 
.wrap{
    box-sizing: border-box;
}    
header{
    background-color: rgb(101, 105, 117);
}    
form{
    float: right;
    }
.header-icon,.header-form{
    display: inline-block;
}    

nav{
    text-align: center;
    background-color: rgb(146, 151, 116);
    margin-top: 5px;
    height: 35px;
}
a{
    text-decoration: none;
    font-size: large;
    font-family: cursive;
    padding: 90px;
}
a:hover{
    color: red;
}
.img1,.img2,.img3{
    display: inline-block;
}
.img4,.img5,.img6{
    display: inline-block;
}

aside,.middle{
    display: inline-block;
    box-sizing: border-box;
}
aside{
    margin-top: 10px;
    width: 25%;
    background-color: rgb(110, 99, 99);
}
.middle{
    width: 49%;
    background-color: burlywood;
    box-sizing: content-box;
}
li{
    list-style: none;
    padding: 20px;
}
.post-img{
    width: 200px;
    height: 200px;
    padding: 20px;
}
footer{
    background-color: burlywood;
    padding: 2%;
    margin-top: 3px;
}